:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}

body, .container {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.upload-container input[type="file"],
.upload-container button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.upload-container input[type="file"]:hover,
.upload-container button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

ul li button.delete-button,
.remove-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ul li button.delete-button:hover,
.remove-btn:hover {
  background-color: #d32f2f;
}

.fade-in {
  animation: fadeIn ease 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.file-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.file-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.file-item:hover {
  background-color: #e0e0e0;
}

.file-item .remove-btn {
  margin-left: 10px;
}
