@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.upload-container input[type="file"],
.upload-container button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.upload-container input[type="file"]:hover,
.upload-container button:hover {
  background-color: #0056b3;
}

ul li button.delete-button,
.remove-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ul li button.delete-button:hover,
.remove-btn:hover {
  background-color: #d32f2f;
}

.fade-in {
  animation: fadeIn ease 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.file-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  gap: 20px;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.desktop-icon {
  text-align: center;
  width: auto;
  height: auto;
  border: 1px solid #dcdcdc; 
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
  padding: 10px;
  margin: 15px;
  background-color: #f9f9f9;
  transition: transform 0.2s; 
}

.desktop-icon:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

.desktop-icon i {
  font-size: 50px; 
  color: #007bff; 
}

.desktop-icon p {
  font-size: 14px; 
  margin: 10px 0 0 0; 
}
