@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

:root {
  --background-color-light: #f8f8f8;
  --text-color-light: #000;
  --primary-color-light: #007bff;
  --danger-color: #dc3545;
  --background-color-dark: #222;
  --text-color-dark: #fff;
  --primary-color-dark: #4a90e2;
}

.fas.fa-file {
  padding: 5px;
  border-radius: 4px;
  color: rgb(0, 110, 255);
}


body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --primary-color: var(--primary-color-dark);
}


.dark-mode p {
  color: var(--text-color);
}

ul li button.delete-button,
.remove-btn {
  background-color: var(--danger-color);
  color: #fff;
  border: none;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ul li button.delete-button:hover,
.remove-btn:hover {
  background-color: darken(var(--primary-color), 10%);
}

.fade-in {
  animation: fadeIn ease 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.file-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  gap: 20px;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.desktop-icon {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 15px;
  background-color: var(--background-color);
  transition: transform 0.2s;
}

.desktop-icon:hover {
  transform: scale(1.1);
}

.desktop-icon i {
  font-size: 50px;
  color: var(--primary-color);
}

.desktop-icon p {
  font-size: 14px;
  margin: 10px 0 0 0;
}

.upload-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.upload-section input[type="file"],
.upload-section button {
  background-color: var(--primary-color-light);
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 0 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.upload-section button:hover {
  background-color: darken(var(--primary-color), 10%);
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.4);
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.search-section input[type="text"] {
  padding: 10px 12px;
  border: 1px solid var(--text-color);
  border-radius: 24px;
  font-size: 16px;
  width: 200px;
  outline: none;
  transition: width 0.3s;
  background-color: var(--background-color);
  color: var(--text-color);
}

.search-section:hover input[type="text"] {
  width: 800px;
}

.search-section input[type="text"]:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(66, 133, 244, 0.2);
}

.search-section svg {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
  margin-left: -40px;
  cursor: pointer;
}

.pin-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.pin-btn:hover {
  transform: scale(1.1);
}

.pin-icon {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}

.edit-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.edit-btn:hover {
  transform: scale(1.1);
}

.edit-btn {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}

:root {
  --background-color: #f8f8f8;
  --text-color: black;
}

.wrapper {
  display: grid;
  place-content: center;
  font-size: 10em;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--background-color-light);
}

.dark-mode .wrapper {
  background-color: var(--text-color-light);
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}

.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, white 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, white 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}
