.dark-mode body {
  background-color: #121212;
  color: #e0e0e0;
}


.dark-mode .card {
  background-color: #1e1e1e;
  border-color: #333;
  color: #e0e0e0;
}

.dark-mode .card-header {
  background-color: #2c2c2c;
  border-bottom-color: #333;
  color: #e0e0e0;
}


.dark-mode .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.dark-mode .btn-secondary {
  background-color: #2e2e2e;
  border-color: #444;
  color: #fff;
}


.dark-mode .toggle {
  background: #333;
}

.dark-mode .toggle-button:hover {
  background-color: #555;
}


.dark-mode input[type="text"] {
  background-color: #2e2e2e;
  border-color: #444;
  color: #fff;
}

.dark-mode .search-section {
  background-color: black;
  border-color: #333;
}
