<<<<<<< HEAD
.file-details {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
  }
  
  .title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .back-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .back-btn:hover {
    background-color: #45a049;
  }
  
  .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .row {
    display: flex;
    align-items: center;
  }
  
  .key {
    font-weight: bold;
  }
  
  .value {
    margin-left: 10px;
  }
  
  .remove-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  
  .remove-btn:hover {
    background-color: #d32f2f;
  }
  
  .nested > .row {
    margin-left: 20px;
  }
  
=======
.row{
    margin-bottom: 10px;
}

#back {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #3f51b5; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
    
button:hover {
    background-color: #334799; 
}

#remove{
        max-width: 150px;
        padding: 5px 20px;
        border: none;
        border-radius: 4px;
        background-color: #3f51b5; 
        color: #fff;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        margin-left: 10px;
}

#remove:hover {
    background-color: #334799; 
}
>>>>>>> adeb7eb5d4defbd87b8e5c411c52fda564914a8d
