:root {
  --primary-color: #007bff;
  --accent-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --success-color: #28a745;
  --danger-color: #dc3545;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-outline {
  color: transparent;
  text-shadow: 
    0.01px 0.01px 0.01px white;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-size: 16px;
}

.title-back-container {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.title > span {
  color: rgb(0, 110, 255);
}

.back-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.container {
  max-width: 1600px !important;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  margin-bottom: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

.card-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.btn{
  width: 150px; 
  height: 40px; 
  margin-bottom: 0;
}

.select-btn {
  display: inline-block;
  padding: 12px 20px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-color: #495057;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.select-btn:hover {
  background-color: #6c757d;
}

.remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--dark-color);
}

.remove-btn:hover {
  color: var(--secondary-color);
}

.back-btn {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.back-btn:hover {
  background-color: #0056b3;
}

.fixed-button-container {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.fixed-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.fixed-button:hover {
  background-color: #0056b3;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.fixed-button:hover {
  animation: pulse 1s infinite;
}

.dataset-card { border-color: var(--primary-color); }
.execution-card { border-color: var(--success-color); }
.error-card { border-color: var(--danger-color); }

.card-header.dataset-header { background-color: var(--primary-color); }
.card-header.execution-header { background-color: var(--success-color); }
.card-header.error-header { background-color: var(--danger-color); }

.card-body.dataset-body { background-color: #f8f9fa; }
.card-body.execution-body { background-color: #dff0d8; }
.card-body.error-body { background-color: #f8d7da; }

.card-header, .card-body { border-bottom: none; }

.btn{
  width: 150px; 
  height: 40px; 
}

.larger-checkbox {
  width: 20px;
  height: 20px;
}

.col-lg-6 {
  margin-top: 50px;
}

.attribute-title {
  text-align: center;
  margin-bottom: 25px;
}

.label-boxes-container {
  width: 95%;
  overflow-y: auto;
  margin: 0 auto;
}

.label-boxes-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.label-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.label-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 12px;
  color: #666;
  line-height: 1.5;
}

.color-box {
  width: 35px;
  height: 10px;
  margin-right: 5px;
}