.row{
    margin-bottom: 10px;
}

#back {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #3f51b5; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
    
button:hover {
    background-color: #334799; 
}

#remove{
        max-width: 150px;
        padding: 5px 20px;
        border: none;
        border-radius: 4px;
        background-color: #3f51b5; 
        color: #fff;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        margin-left: 10px;
}

#remove:hover {
    background-color: #334799; 
}